<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grešk</title>
</head>
<body>
    <hgroup>
        <h1>Greška.</h1>
        <h2>Pogreška prilikom obrade podataka.</h2>
    </hgroup>
</body>
</html>
